html, body {
    font-family: Helvetica;
    height: 100%;
}
.container {
    height: 100%;
    perspective: 1000px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 0.5%;
    row-gap: 0.5%;
}

.card {
    transition: transform 1s; 
    transform-style: preserve-3d;
    text-align: center;
    color: white;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 98%;
    border-radius: 20px;
    backface-visibility: hidden;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
.card-back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.hide {
    display: none;
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    outline: none;

}

button:hover {
    cursor: pointer;
}

